

.item {
    display: flex;
    align-items: center;

}
.user_image {
    background-color: coral;
    padding: 10px;
    margin: 5px;
    font-size: 18px;
    border-radius: 50%;
}
.user_message {
    color: coral;
    padding: 10px;
}