
.content_image {
    font-size: 30px;
    text-align: center;
    padding: 15px;
    background-color: #ff7f50;
}

.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog {
    background-color: azure;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.dialog a {
    text-decoration: none;
    color: cadetblue;
}

.active {
    background-color: cadetblue;
}

.active a {
    color: azure;
}

.message {
    background-color: #ffffff;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}